.center-area {
	background-color: #2f3542;
	color: #dfe4e1;
	padding: 2em;
}

.left-area {
	background-color: #2f3542;
	color: 2fe4e1;
	padding: 2em;
}

.right-area {
	background-color: #2f3542;
	color: 2fe4e1;
	padding: 2em;
}

.home-intro-text {
	text-align: center;
}
