body {
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #282d30 !important; /* 2f3542 */
}

div {
	font-family: "Comfortaa", sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@import url("https://fonts.googleapis.com/css?family=Comfortaa");

@font-face {
	font-family: "Exo";
	src: local("Exo"), url(./fonts/Exo-Light.ttf) format("truetype");
}

@font-face {
	font-family: "Exo";
	src: local("Exo"), url(./fonts/Exo-Medium.ttf) format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: "Exo";
	src: local("Exo"), url(./fonts/Exo-Bold.ttf) format("truetype");
	font-weight: bolder;
}

@font-face {
	font-family: "Exo";
	src: local("Exo"), url(./fonts/Exo-Thin.ttf) format("truetype");
	font-weight: lighter;
}
